# Ignore node_modules (they will be installed inside the container)
node_modules
npm-debug.log
yarn-error.log

# Ignore Angular build output
dist
out-tsc

# Ignore temporary files
*.tmp
*.swp
.DS_Store

# Ignore environment files (depending on your use case)
.env